/* General Styles */
body {
    margin: 0;
    font-family: 'inter';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #000000, #2e2e2e);
    color: white; /* Set text color to white */
}

.container {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 400px; /* Limit the width on larger screens */
    text-align: center;
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    font-style: italic;
    font-weight: 700;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0;
}



.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icon-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

social-icon-img:hover {
    transform: scale(1.2);
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .profile-pic img {
        width: 100px;
        height: 100px;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }

    .contact-btn {
        font-size: 0.8rem;
        padding: 8px 12px;
    }

    .social-icon-img {
        width: 28px;
        height: 28px;
    }
}
